.box {
	text-align: center;
	padding: 20px;
	width: 200px;
	height: 150px;
}

#containter {
	margin: 50px 150px;
}

#box1 {
	position: fixed;
	top: 0;
	background-color: #d3d3d3;
}

#box2 {
	position: relative;
	background-color: #d3d3d3;
	width: 100%;

}

#box3 {
	width: 100px;
	height: 100px;
	background-color: #0ff;
	position: absolute;
	bottom: 0px;
	left: 654px;

}

h1 {
	font-weight: bold;
}