body {
	font-family: arial, sans-serif;
	background-color: #dfdce3;
}

header {
	background-color: #4abdac;
	text-align: center;
	padding: 1%;
}

h1 {
	font-weight: bolder;
	font-size: 4em;
	text-transform: uppercase;
}

h1, h2 {
	color: #dfdce3;
}

a {
	color: #f7b733;
}

section{
	float: left;
	width: 30.87%;
	padding: 1em;
	background-color: #fc4a1a;
}
